* {
  margin: 0;
  padding: 0;
}

.App {
  width: 100%;
  min-height: 100vh;
  position: relative;
  background-color: rgba(0, 0, 0, 0.4);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App:before {
  content: "";
  background: url("./assets/bridge.jpg") no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.container-daily {
  max-width: 1200px;
  margin: 20px auto;
  display: grid;
  gap: 10px;
}

@media (max-width: 549px) {
  .container-daily {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 550px) {
  .container-daily {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .container-daily {
    grid-template-columns: repeat(8, 1fr);
  }
}

.loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
